*{
	font-family: "Verdana", sans-serif;

}

h1 {
	font-size: 60px;
}

#uppercase {
	text-transform: uppercase;
}

#external {
	color: yellow;
}

.Languages {
	background-color: lightgreen;
}

li[value]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}


img + ul {
	list-style-type: none;
	
}

body > section > ul > li {
	letter-spacing: 5px;
}



section img {
	height: 300px;
	width: 300px;
	border-radius: 150px
}

ul ~ p {
	text-align: center;
}



